.wp-block-carkeek-acf-random {
    position: relative;
}
.wp-block-carkeek-acf-random img {
    width: 100%;
    height: auto;
    
}
.wp-block-carkeek-acf-random .image-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}